

Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.MDF
*.mdf
*.ldb
[Bb]in
[Aa]pp-[Dd]ata
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
VentanaTuristica/VentanaTuristica.csproj
_ReSharper.VentanaTuristica/BuildScriptCache/
_ReSharper.VentanaTuristica/
VentanaTuristica/bin/
VentanaTuristica/obj/
_ReSharper.VentanaTuristica/BuildScriptCache/.crc