/*----------------------------------------------------------
El color base de esta plantilla es White. Si desea usar
otro color, empiece por reemplazar todas las instancias de
White con el nuevo color.
----------------------------------------------------------*/
BODY
{
	background-color: #FFFFFF;
	font-size: 0.75em;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #696969;
}
A:link
{
	color: #034AF3;
	text-decoration: underline;
}
A:visited
{
	color: #505ABC;
}
A:hover
{
	color: #1D60FF;
	text-decoration: none;
}
A:active
{
	color: #12EB87;
}
P, UL
{
	margin-bottom: 20px;
	line-height: 1.6em;
}
/*TÃƒÆ’Ã‚ÂTULOS
----------------------------------------------------------*/
H1, H2, H3, H4, H5, H6
{
	font-size: 1.5em;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}
H1
{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}
H2
{
	padding: 0 0 10px;
}
H3
{
	font-size: 1.2em;
}
H4
{
	font-size: 1.1em;
}
H5, H6
{
	font-size: 1em;
}
/*esta regla crea etiquetas <h2> que son el
primer elemento secundario de las columnas de tabla izquierda y derecha*/
.rightColumn>H1, .rightColumn>H2, .leftColumn>H1, .leftColumn>H2
{
	margin-top: 0;
}
/*ELEMENTOS DE DISEÃƒÆ’Ã¢â‚¬ËœO PRIMARIO
----------------------------------------------------------
puede especificar un porcentaje mayor o menor para el
ancho de pÃƒÆ’Ã‚Â¡gina. O bien puede especificar un ancho de pÃƒÆ’Ã‚Â­xel exacto.*/
.page
{
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}
.page2
{
	width: 770px;
	
}
#Header{
	display:table;
	height:150px;
	background: url(../../Content/header.png) repeat-x 0 0;
}
#header H1
{
	font-weight: bold;
	padding: 5px 0;
	margin: 0;
	color: #FFF;
	border: none;
	line-height: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px !important;
}

#Main{
	
	
}
#main3
{
	background-color: #FFF;
	margin-bottom: 30px;
	_height: 1px;
/*solo IE6 aplica las propiedades de CSS con un carÃƒÆ’Ã‚Â¡cter de subrayado inicial*/
}
#main2
{
	background-color: #FFF;
	margin-bottom: 30px;
	_height: 1px;
/*solo IE6 aplica las propiedades de CSS con un carÃƒÆ’Ã‚Â¡cter de subrayado inicial*/
}
#Footer{
	height:150px;
	background: url(../../Content/footer2.png) repeat-x 0 0;
	background-position: right bottom;
}
#compHeaderIzq{
	float:left;	
	
	height:150px;
	
}
#compHeaderDer{
	float:left;	
	
	height:150px;
	
}
#compMainIzq{
	float:left;
	
	
	background:url(../../Content/marcoIzquierdo.jpg);
	background-repeat:repeat-y;
	background-position:right;
}
#compMainIzq2{
	float:left;
	
}
#compMainDer{
	float:left;


	background:url(../../Content/marcoDerecho.jpg);
	background-repeat:repeat-y;
}
#compMainDer2{
	float:left;
}
#compFooterIzq{
	float:left;	

	height:150px;
}
#compFooterDer{
	float:left;	

	height:150px;
}
#contFooter{
	float:left;
	width:943px;
	height:150px;
}
#contHeader{
	float:left;
	width:943px;
	height:150px;
}
#contMain{
	float:left;
	width:943px;
	
	
}
#Mountain{
	background: url(../../Content/footerMountain2.png);
	background-repeat:no-repeat;
	background-position: right bottom;
	height:31px;
}
#MountainIzq{
	background:url(../../Content/marcoIzquierdo.jpg);
	background-repeat:repeat-y;
	background-position:right;
	height:29px;
}
#MountainIzq2{
	
	height:29px;
}
#MountainDer{
	background:url(../../Content/marcoDerecho.jpg);
	background-repeat:repeat-y;
	height:29px;
}
#MountainDer2{
	height:29px;
}
DIV.hr
{
	height: 2px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: #FFF url(../../Content/footer.png) repeat-x scroll center;
}
A IMG
{
	border: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
/*ELEMENTOS DE DISEÃƒÆ’Ã¢â‚¬ËœO DE FORMULARIOS
----------------------------------------------------------*/
FIELDSET
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #CCC;
}
FIELDSET P
{
	margin: 2px 12px 10px 10px;
}
LEGEND
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px;
}
INPUT[type="text"]
{
	width: 200px;
}
TEXTAREA
{
	width: 400px;
	height: 100px;
}
INPUT[type="password"]
{
	width: 200px;
	border: 1px solid #CCC;
}
/*TABLA
----------------------------------------------------------*/
TABLE
{
	margin-left: auto;
	margin-right: auto;
}
TABLE TD
{
	padding: 5px;
}
TABLE TH
{
	padding: 6px 5px;
	text-align: left;
	background-color: #E8EEF4;
}
/*VARIOS
----------------------------------------------------------*/
.clear
{
	clear: both;
}
.error
{
	color: #FF0000;
}
#menucontainer
{
	float: right;
	margin-top: 20px;
}
DIV#title
{
	float: left;
}
DIV#title2
{
	float: left;
	margin-left: 75px;
}
#logindisplay
{
	margin-top: 10px;
	margin-right: 0px;
	float: right;
	font-size: 1.1em;
	text-align: right;
}
#logindisplay A:link
{
	text-decoration: underline;
}
#logindisplay A:visited
{
	text-decoration: underline;
}
#logindisplay A:hover
{
	text-decoration: none;
}
/*Estilos para aplicaciones auxiliares de validaciÃƒÆ’Ã‚Â³n
-----------------------------------------------------------*/
.field-validation-error
{
	color: #FF0000;
}
.field-validation-valid
{
	display: none;
}
.input-validation-error
{
	border: 1px solid #FF0000;
	background-color: #FFEEEE;
}
.validation-summary-errors
{
	font-weight: bold;
	color: #FF0000;
}
.validation-summary-valid
{
	display: none;
}
/*Estilos para aplicaciones auxiliares de editor y visualizaciÃƒÆ’Ã‚Â³n
----------------------------------------------------------*/
.display-label, .editor-label, .display-field, .editor-field
{
	margin: 0.5em 0;
}
.text-box
{
	width: 30em;
}
.text-box.multi-line
{
	height: 6.5em;
}
.tri-state
{
	width: 6em;
}
/*Estilo para el Autocomplete*/
.acInput
{
	width: 200px;
}
.acResults
{
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}
.acResults UL
{
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.acResults LI
{
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: 1em menu;
	font-size: 12px;
	overflow: hidden;
}
.acLoading
{
	background: url(indicator.gif) no-repeat right center;
}
.acSelect
{
	background-color: Highlight;
	color: HighlightText;
}
/*Estilo para el Menu
-----------------------------------------------------------*/
A:link
{
	color: #CF7F18;
}
A:visited
{
	color: #AD660C;
}
A:hover, A:focus
{
	color: #FF9814;
	text-decoration: none;
}
/*----[ LINKS ]----
all menu links*/
#nav A, #subMenusContainer A
{
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	background-color: #EEE;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
/*border-radius: 7px*/
	behavior: url(border-radius.htc);
}
/*Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav A
{
	float: left;
	margin-right: 2px;
}
/*Just sub menu links*/
#subMenusContainer A, #nav LI LI A
{
	text-align: left;
}
/*All menu links on hover or focus*/
#nav A:hover, #nav A:focus, #subMenusContainer A:hover, #subMenusContainer A:focus, #nav A.mainMenuParentBtnFocused, #subMenusContainer A.subMenuParentBtnFocused
{
	background-color: #F6C739;
	color: #FFF;
}
/*sub menu links on hover or focus*/
#subMenusContainer A:hover, #subMenusContainer A:focus, #nav A.mainMenuParentBtnFocused, #subMenusContainer A.subMenuParentBtnFocused, #nav LI A:hover, #nav LI A:focus
{
	background-color: #F6C739;
	color: #FFF;
}
/*Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn
{
	background: url(../Content/arrow_right.gif) no-repeat right center;
}
/*Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused
{
	background: url(../Content/arrow_right_over.gif) no-repeat right center;
}
/*Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn
{
	background: url(../Content/arrow_down.gif) no-repeat right center;
}
/*Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused
{
	background: url(../Content/arrow_down_over.gif) no-repeat right center;
}
/*----[ OLs ULs, LIs, and DIVs ]----
Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only*/
.smOW
{
	display: none;
	position: absolute;
	overflow: hidden;
/*the 2px left & right padding lets you have a 1px border
on the ul or ol inside since overflow is set to hidden*/
	padding: 0 2px;
	margin: 0 0 0 -2px;
}
/*All ULs and OLs*/
#nav, #nav UL, #nav OL, #subMenusContainer UL, #subMenusContainer OL
{
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}
/*All submenu OLs and ULs*/
#nav OL, #nav UL, #subMenusContainer UL, #subMenusContainer OL
{
/*border around submenu goes here*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #EEE;
	border: 1px solid #C3D46A;
	left: 0;
}
/*List items in main menu --[for non-javascript users this applies to submenus as well]*/
#nav LI
{
/*great place to use a background image as a divider*/
	display: block;
	list-style: none;
	position: relative;
	float: left;
}
#subMenusContainer LI
{
	list-style: none;
}
#subMenusContainer
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: visible;
	z-index: 1000000000;
}
/*--------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav LI LI
{
	float: none;
}
#nav LI LI A
{
/*Just submenu links*/
	position: relative;
	float: none;
}
#nav LI UL
{
/*second-level lists*/
	position: absolute;
	width: 10em;
	margin-left: -1000em;
/*using left instead of display to hide menus because display: none isn't read by screen readers*/
	margin-top: 2.2em;
}
/*third-and-above-level lists*/
#nav LI UL UL
{
	margin: -1em 0 0 -1000em;
}
#nav LI:hover UL UL
{
	margin-left: -1000em;
}
/*lists nested under hovered list items*/
#nav LI:hover UL
{
	margin-left: 0;
}
#nav LI LI:hover UL
{
	margin-left: 10em;
	margin-top: -2.5em;
}
/*extra positioning rules for limited noscript keyboard accessibility*/
#nav LI A:focus+UL
{
	margin-left: 0;
	margin-top: 2.2em;
}
#nav LI LI A:focus+UL
{
	left: 0;
	margin-left: 1010em;
	margin-top: -2.2em;
}
#nav LI LI A:focus
{
	left: 0;
	margin-left: 1000em;
	width: 10em;
	margin-top: 0;
}
#nav LI LI LI A:focus
{
	left: 0;
	margin-left: 2010em;
	width: 10em;
	margin-top: -1em;
}
#nav LI:hover A:focus
{
	margin-left: 0;
}
#nav LI LI:hover A:focus+UL
{
	margin-left: 10em;
}
/*Estilos Tabla Publicacion*/
.tituloTabla
{
	color: #D11221;
	font-size: 20px;
	border-style: none none solid;
	font-weight: bold;
	font-family: Arial;
	border-width: 2px;
	border-color: #C0C0C0;
	margin-right: auto;
	width: 400px;
}
.tituloTabla2
{
	background-position: right bottom;
	color: #F63D1D;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	margin-right: auto;
	width: 448px;
	background-image: url(fondoTitulo2Tabla.png);
	background-repeat: no-repeat;
}
.contenidoTabla
{
	color: #000000;
	font-family: Arial;
	border-style: none none solid;
	border-width: 2px;
	border-color: #C0C0C0;
	margin-right: auto;
	font-size: 14px;
	font-style: italic;
}
.tablaPubli
{
	background-position: right bottom;
	background-image: url(fondoTabla.png);
	height: 250px;
	width: 750px;
	background-repeat: no-repeat;
}
.contenidoServiciosTabla
{
	color: #000000;
	font-family: Arial;
	margin-right: auto;
	font-size: 12px;
	vertical-align: top;
	width: 448px;
}
.contenidoDescripcionTabla
{
	color: #000000;
	font-family: Arial;
	margin-right: auto;
	font-size: 12px;
	width: 450px;
	text-align: justify;
}
.contenidoNotasTabla
{
	color: #000000;
	font-size: 12px;
	font-family: Arial;
	margin-right: auto;
	width: 450px;
	text-align: justify;
}
.barraPubli
{
	background-position: left bottom;
	background-image: url(barraPublicacion.png);
	width: 750px;
	height: 45px;
	background-repeat: no-repeat;
}
.contenidoTablaUltimo
{
	color: #000000;
	font-family: Arial;
	border-style: none;
	border-width: 2px;
	border-color: #C0C0C0;
	margin-right: auto;
	font-size: 14px;
	font-style: italic;
}
/*Datepicker
----------------------------------

* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.

Layout helpers
----------------------------------*/
.ui-helper-hidden
{
	display: none;
}
.ui-helper-hidden-accessible
{
	position: absolute;
	left: -99999999px;
}
.ui-helper-reset
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.ui-helper-clearfix
{
	display: inline-block;
}
/*required comment for clearfix to work in Opera \*/
* HTML .ui-helper-clearfix
{
	height: 1%;
}
.ui-helper-clearfix
{
	display: block;
}
/*end clearfix*/
.ui-helper-zfix
{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
}
/*Interaction Cues
----------------------------------*/
.ui-state-disabled
{
	cursor: default !important;
}
/*Icons
----------------------------------
states and images*/
.ui-icon
{
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}
/*Misc visuals
----------------------------------
Overlays*/
.ui-widget-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px

Component containers
----------------------------------*/
.ui-widget
{
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget
{
	font-size: 1em;
}
.ui-widget INPUT, .ui-widget SELECT, .ui-widget TEXTAREA, .ui-widget BUTTON
{
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;
}
.ui-widget-content
{
	border: 1px solid #DDDDDD;
	background: #EEEEEE url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) repeat-x 50% top;
	color: #333333;
}
.ui-widget-content A
{
	color: #333333;
}
.ui-widget-header
{
	border: 1px solid #E78F08;
	background: #F6A828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) repeat-x 50% 50%;
	color: #FFFFFF;
	font-weight: bold;
}
.ui-widget-header A
{
	color: #FFFFFF;
}
/*Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default
{
	border: 1px solid #CCCCCC;
	background: #F6F6F6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) repeat-x 50% 50%;
	font-weight: bold;
	color: #1C94C4;
}
.ui-state-default A, .ui-state-default A:link, .ui-state-default A:visited
{
	color: #1C94C4;
	text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
{
	border: 1px solid #FBCB09;
	background: #FDF5CE url(images/ui-bg_glass_100_fdf5ce_1x400.png) repeat-x 50% 50%;
	font-weight: bold;
	color: #C77405;
}
.ui-state-hover A, .ui-state-hover A:hover
{
	color: #C77405;
	text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active
{
	border: 1px solid #FBD850;
	background: #FFFFFF url(images/ui-bg_glass_65_ffffff_1x400.png) repeat-x 50% 50%;
	font-weight: bold;
	color: #EB8F00;
}
.ui-state-active A, .ui-state-active A:link, .ui-state-active A:visited
{
	color: #EB8F00;
	text-decoration: none;
}
.ui-widget :active
{
	outline: none;
}
/*Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight
{
	border: 1px solid #FED22F;
	background: #FFE45C url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) repeat-x 50% top;
	color: #363636;
}
.ui-state-highlight A, .ui-widget-content .ui-state-highlight A
{
	color: #363636;
}
.ui-state-error, .ui-widget-content .ui-state-error
{
	border: 1px solid #CD0A0A;
	background: #B81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) repeat 50% 50%;
	color: #FFFFFF;
}
.ui-state-error A, .ui-widget-content .ui-state-error A
{
	color: #FFFFFF;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text
{
	color: #FFFFFF;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary
{
	font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary
{
	opacity: .7;
	filter: Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled
{
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}
/*Icons
----------------------------------
states and images*/
.ui-icon
{
	width: 16px;
	height: 16px;
	background-image: url(images/ui-icons_222222_256x240.png);
}
.ui-widget-content .ui-icon
{
	background-image: url(images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon
{
	background-image: url(images/ui-icons_ffffff_256x240.png);
}
.ui-state-default .ui-icon
{
	background-image: url(images/ui-icons_ef8c08_256x240.png);
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
{
	background-image: url(images/ui-icons_ef8c08_256x240.png);
}
.ui-state-active .ui-icon
{
	background-image: url(images/ui-icons_ef8c08_256x240.png);
}
.ui-state-highlight .ui-icon
{
	background-image: url(images/ui-icons_228ef1_256x240.png);
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon
{
	background-image: url(images/ui-icons_ffd27a_256x240.png);
}
/*positioning*/
.ui-icon-carat-1-n
{
	background-position: 0 0;
}
.ui-icon-carat-1-ne
{
	background-position: -16px 0;
}
.ui-icon-carat-1-e
{
	background-position: -32px 0;
}
.ui-icon-carat-1-se
{
	background-position: -48px 0;
}
.ui-icon-carat-1-s
{
	background-position: -64px 0;
}
.ui-icon-carat-1-sw
{
	background-position: -80px 0;
}
.ui-icon-carat-1-w
{
	background-position: -96px 0;
}
.ui-icon-carat-1-nw
{
	background-position: -112px 0;
}
.ui-icon-carat-2-n-s
{
	background-position: -128px 0;
}
.ui-icon-carat-2-e-w
{
	background-position: -144px 0;
}
.ui-icon-triangle-1-n
{
	background-position: 0 -16px;
}
.ui-icon-triangle-1-ne
{
	background-position: -16px -16px;
}
.ui-icon-triangle-1-e
{
	background-position: -32px -16px;
}
.ui-icon-triangle-1-se
{
	background-position: -48px -16px;
}
.ui-icon-triangle-1-s
{
	background-position: -64px -16px;
}
.ui-icon-triangle-1-sw
{
	background-position: -80px -16px;
}
.ui-icon-triangle-1-w
{
	background-position: -96px -16px;
}
.ui-icon-triangle-1-nw
{
	background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s
{
	background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w
{
	background-position: -144px -16px;
}
.ui-icon-arrow-1-n
{
	background-position: 0 -32px;
}
.ui-icon-arrow-1-ne
{
	background-position: -16px -32px;
}
.ui-icon-arrow-1-e
{
	background-position: -32px -32px;
}
.ui-icon-arrow-1-se
{
	background-position: -48px -32px;
}
.ui-icon-arrow-1-s
{
	background-position: -64px -32px;
}
.ui-icon-arrow-1-sw
{
	background-position: -80px -32px;
}
.ui-icon-arrow-1-w
{
	background-position: -96px -32px;
}
.ui-icon-arrow-1-nw
{
	background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s
{
	background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw
{
	background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w
{
	background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw
{
	background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n
{
	background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e
{
	background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s
{
	background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w
{
	background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n
{
	background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne
{
	background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e
{
	background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se
{
	background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s
{
	background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw
{
	background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w
{
	background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw
{
	background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s
{
	background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw
{
	background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w
{
	background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw
{
	background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n
{
	background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e
{
	background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s
{
	background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w
{
	background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w
{
	background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n
{
	background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e
{
	background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s
{
	background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w
{
	background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n
{
	background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e
{
	background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s
{
	background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w
{
	background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n
{
	background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e
{
	background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s
{
	background-position: -176px -64px;
}
.ui-icon-arrow-4
{
	background-position: 0 -80px;
}
.ui-icon-arrow-4-diag
{
	background-position: -16px -80px;
}
.ui-icon-extlink
{
	background-position: -32px -80px;
}
.ui-icon-newwin
{
	background-position: -48px -80px;
}
.ui-icon-refresh
{
	background-position: -64px -80px;
}
.ui-icon-shuffle
{
	background-position: -80px -80px;
}
.ui-icon-transfer-e-w
{
	background-position: -96px -80px;
}
.ui-icon-transferthick-e-w
{
	background-position: -112px -80px;
}
.ui-icon-folder-collapsed
{
	background-position: 0 -96px;
}
.ui-icon-folder-open
{
	background-position: -16px -96px;
}
.ui-icon-document
{
	background-position: -32px -96px;
}
.ui-icon-document-b
{
	background-position: -48px -96px;
}
.ui-icon-note
{
	background-position: -64px -96px;
}
.ui-icon-mail-closed
{
	background-position: -80px -96px;
}
.ui-icon-mail-open
{
	background-position: -96px -96px;
}
.ui-icon-suitcase
{
	background-position: -112px -96px;
}
.ui-icon-comment
{
	background-position: -128px -96px;
}
.ui-icon-person
{
	background-position: -144px -96px;
}
.ui-icon-print
{
	background-position: -160px -96px;
}
.ui-icon-trash
{
	background-position: -176px -96px;
}
.ui-icon-locked
{
	background-position: -192px -96px;
}
.ui-icon-unlocked
{
	background-position: -208px -96px;
}
.ui-icon-bookmark
{
	background-position: -224px -96px;
}
.ui-icon-tag
{
	background-position: -240px -96px;
}
.ui-icon-home
{
	background-position: 0 -112px;
}
.ui-icon-flag
{
	background-position: -16px -112px;
}
.ui-icon-calendar
{
	background-position: -32px -112px;
}
.ui-icon-cart
{
	background-position: -48px -112px;
}
.ui-icon-pencil
{
	background-position: -64px -112px;
}
.ui-icon-clock
{
	background-position: -80px -112px;
}
.ui-icon-disk
{
	background-position: -96px -112px;
}
.ui-icon-calculator
{
	background-position: -112px -112px;
}
.ui-icon-zoomin
{
	background-position: -128px -112px;
}
.ui-icon-zoomout
{
	background-position: -144px -112px;
}
.ui-icon-search
{
	background-position: -160px -112px;
}
.ui-icon-wrench
{
	background-position: -176px -112px;
}
.ui-icon-gear
{
	background-position: -192px -112px;
}
.ui-icon-heart
{
	background-position: -208px -112px;
}
.ui-icon-star
{
	background-position: -224px -112px;
}
.ui-icon-link
{
	background-position: -240px -112px;
}
.ui-icon-cancel
{
	background-position: 0 -128px;
}
.ui-icon-plus
{
	background-position: -16px -128px;
}
.ui-icon-plusthick
{
	background-position: -32px -128px;
}
.ui-icon-minus
{
	background-position: -48px -128px;
}
.ui-icon-minusthick
{
	background-position: -64px -128px;
}
.ui-icon-close
{
	background-position: -80px -128px;
}
.ui-icon-closethick
{
	background-position: -96px -128px;
}
.ui-icon-key
{
	background-position: -112px -128px;
}
.ui-icon-lightbulb
{
	background-position: -128px -128px;
}
.ui-icon-scissors
{
	background-position: -144px -128px;
}
.ui-icon-clipboard
{
	background-position: -160px -128px;
}
.ui-icon-copy
{
	background-position: -176px -128px;
}
.ui-icon-contact
{
	background-position: -192px -128px;
}
.ui-icon-image
{
	background-position: -208px -128px;
}
.ui-icon-video
{
	background-position: -224px -128px;
}
.ui-icon-script
{
	background-position: -240px -128px;
}
.ui-icon-alert
{
	background-position: 0 -144px;
}
.ui-icon-info
{
	background-position: -16px -144px;
}
.ui-icon-notice
{
	background-position: -32px -144px;
}
.ui-icon-help
{
	background-position: -48px -144px;
}
.ui-icon-check
{
	background-position: -64px -144px;
}
.ui-icon-bullet
{
	background-position: -80px -144px;
}
.ui-icon-radio-off
{
	background-position: -96px -144px;
}
.ui-icon-radio-on
{
	background-position: -112px -144px;
}
.ui-icon-pin-w
{
	background-position: -128px -144px;
}
.ui-icon-pin-s
{
	background-position: -144px -144px;
}
.ui-icon-play
{
	background-position: 0 -160px;
}
.ui-icon-pause
{
	background-position: -16px -160px;
}
.ui-icon-seek-next
{
	background-position: -32px -160px;
}
.ui-icon-seek-prev
{
	background-position: -48px -160px;
}
.ui-icon-seek-end
{
	background-position: -64px -160px;
}
.ui-icon-seek-start
{
	background-position: -80px -160px;
}
/*ui-icon-seek-first is deprecated, use ui-icon-seek-start instead*/
.ui-icon-seek-first
{
	background-position: -80px -160px;
}
.ui-icon-stop
{
	background-position: -96px -160px;
}
.ui-icon-eject
{
	background-position: -112px -160px;
}
.ui-icon-volume-off
{
	background-position: -128px -160px;
}
.ui-icon-volume-on
{
	background-position: -144px -160px;
}
.ui-icon-power
{
	background-position: 0 -176px;
}
.ui-icon-signal-diag
{
	background-position: -16px -176px;
}
.ui-icon-signal
{
	background-position: -32px -176px;
}
.ui-icon-battery-0
{
	background-position: -48px -176px;
}
.ui-icon-battery-1
{
	background-position: -64px -176px;
}
.ui-icon-battery-2
{
	background-position: -80px -176px;
}
.ui-icon-battery-3
{
	background-position: -96px -176px;
}
.ui-icon-circle-plus
{
	background-position: 0 -192px;
}
.ui-icon-circle-minus
{
	background-position: -16px -192px;
}
.ui-icon-circle-close
{
	background-position: -32px -192px;
}
.ui-icon-circle-triangle-e
{
	background-position: -48px -192px;
}
.ui-icon-circle-triangle-s
{
	background-position: -64px -192px;
}
.ui-icon-circle-triangle-w
{
	background-position: -80px -192px;
}
.ui-icon-circle-triangle-n
{
	background-position: -96px -192px;
}
.ui-icon-circle-arrow-e
{
	background-position: -112px -192px;
}
.ui-icon-circle-arrow-s
{
	background-position: -128px -192px;
}
.ui-icon-circle-arrow-w
{
	background-position: -144px -192px;
}
.ui-icon-circle-arrow-n
{
	background-position: -160px -192px;
}
.ui-icon-circle-zoomin
{
	background-position: -176px -192px;
}
.ui-icon-circle-zoomout
{
	background-position: -192px -192px;
}
.ui-icon-circle-check
{
	background-position: -208px -192px;
}
.ui-icon-circlesmall-plus
{
	background-position: 0 -208px;
}
.ui-icon-circlesmall-minus
{
	background-position: -16px -208px;
}
.ui-icon-circlesmall-close
{
	background-position: -32px -208px;
}
.ui-icon-squaresmall-plus
{
	background-position: -48px -208px;
}
.ui-icon-squaresmall-minus
{
	background-position: -64px -208px;
}
.ui-icon-squaresmall-close
{
	background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical
{
	background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal
{
	background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical
{
	background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal
{
	background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se
{
	background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se
{
	background-position: -80px -224px;
}
/*Misc visuals
Corner radius*/
.ui-corner-tl
{
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
/*border-top-left-radius: 4px*/
}
.ui-corner-tr
{
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
/*border-top-right-radius: 4px*/
}
.ui-corner-bl
{
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
/*border-bottom-left-radius: 4px*/
}
.ui-corner-br
{
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
/*border-bottom-right-radius: 4px*/
}
.ui-corner-top
{
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
/*border-top-left-radius: 4px*/
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
/*border-top-right-radius: 4px*/
}
.ui-corner-bottom
{
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
/*border-bottom-left-radius: 4px*/
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
/*border-bottom-right-radius: 4px*/
}
.ui-corner-right
{
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
/*border-top-right-radius: 4px*/
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
/*border-bottom-right-radius: 4px*/
}
.ui-corner-left
{
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
/*border-top-left-radius: 4px*/
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
/*border-bottom-left-radius: 4px*/
}
.ui-corner-all
{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
/*border-radius: 4px*/
}
/*Overlays*/
.ui-widget-overlay
{
	background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) repeat 50% 50%;
	opacity: .50;
	filter: Alpha(Opacity=50);
}
.ui-widget-shadow
{
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) repeat-x 50% 50%;
	opacity: .20;
	filter: Alpha(Opacity=20);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
/*border-radius: 5px*/
}
/*Resizable*/
.ui-resizable
{
	position: relative;
}
.ui-resizable-handle
{
	position: absolute;
	font-size: 0.1px;
	z-index: 99999;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle
{
	display: none;
}
.ui-resizable-n
{
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s
{
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e
{
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w
{
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se
{
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw
{
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw
{
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne
{
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
/*Accordion*/
.ui-accordion .ui-accordion-header
{
	cursor: pointer;
	position: relative;
	margin-top: 1px;
	zoom: 1;
}
.ui-accordion .ui-accordion-li-fix
{
	display: inline;
}
.ui-accordion .ui-accordion-header-active
{
	border-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header A
{
	display: block;
	font-size: 1em;
	padding: 0.5em 0.5em 0.5em 0.7em;
}
.ui-accordion-icons .ui-accordion-header A
{
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon
{
	position: absolute;
	left: 0.5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content
{
	padding: 1em 2.2em;
	border-top: 0;
	margin-top: -2px;
	position: relative;
	top: 1px;
	margin-bottom: 2px;
	overflow: auto;
	display: none;
	zoom: 1;
}
.ui-accordion .ui-accordion-content-active
{
	display: block;
}
/*Autocomplete*/
.ui-autocomplete
{
	position: absolute;
	cursor: default;
}
.ui-autocomplete-loading
{
	background: #FFFFFF url(images/ui-anim_basic_16x16.gif) no-repeat right center;
}
/*workarounds*/
* HTML .ui-autocomplete
{
	width: 1px;
}
/*without this, the menu expands to 100% in IE6
Menu*/
.ui-menu
{
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
}
.ui-menu .ui-menu
{
	margin-top: -3px;
}
.ui-menu .ui-menu-item
{
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-menu .ui-menu-item A
{
	text-decoration: none;
	display: block;
	padding: 0.2em 0.4em;
	line-height: 1.5;
	zoom: 1;
}
.ui-menu .ui-menu-item A.ui-state-hover, .ui-menu .ui-menu-item A.ui-state-active
{
	margin: -1px;
}
/*Button*/
.ui-button
{
	display: inline-block;
	position: relative;
	padding: 0;
	margin-right: 0.1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
}
/*the overflow property removes extra width in IE*/
.ui-button-icon-only
{
	width: 2.2em;
}
/*to make room for the icon, a width needs to be set here*/
BUTTON.ui-button-icon-only
{
	width: 2.4em;
}
/*button elements seem to need a little more width*/
.ui-button-icons-only
{
	width: 3.4em;
}
BUTTON.ui-button-icons-only
{
	width: 3.7em;
}
/*button text element*/
.ui-button .ui-button-text
{
	display: block;
	line-height: 1.4;
}
.ui-button-text-only .ui-button-text
{
	padding: 0.4em 1em;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text
{
	padding: 0.4em;
	text-indent: -9999999px;
}
.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text
{
	padding: 0.4em 1em 0.4em 2.1em;
}
.ui-button-text-icons .ui-button-text
{
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/*no icon support for input elements, provide padding by default*/
INPUT.ui-button
{
	padding: 0.4em 1em;
}
/*button icon element(s)*/
.ui-button-icon-only .ui-icon, .ui-button-text-icon .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon
{
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary
{
	left: 0.5em;
}
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary
{
	right: 0.5em;
}
/*button sets*/
.ui-buttonset
{
	margin-right: 7px;
}
.ui-buttonset .ui-button
{
	margin-left: 0;
	margin-right: -0.3em;
}
/*workarounds*/
BUTTON.ui-button::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
/*reset extra padding in Firefox
Dialog
----------------------------------*/
.ui-dialog
{
	position: absolute;
	padding: 0.2em;
	width: 300px;
	overflow: hidden;
}
.ui-dialog .ui-dialog-titlebar
{
	padding: 0.5em 1em 0.3em;
	position: relative;
}
.ui-dialog .ui-dialog-title
{
	float: left;
	margin: 0.1em 16px 0.2em 0;
}
.ui-dialog .ui-dialog-titlebar-close
{
	position: absolute;
	right: 0.3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0;
	padding: 1px;
	height: 18px;
}
.ui-dialog .ui-dialog-titlebar-close SPAN
{
	display: block;
	margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
{
	padding: 0;
}
.ui-dialog .ui-dialog-content
{
	border: 0;
	padding: 0.5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}
.ui-dialog .ui-dialog-buttonpane
{
	text-align: left;
	border-width: 1px 0 0;
	background-image: none;
	margin: 0.5em 0 0;
	padding: 0.3em 1em 0.5em 0.4em;
}
.ui-dialog .ui-dialog-buttonpane BUTTON
{
	float: right;
	margin: 0.5em 0.4em 0.5em 0;
	cursor: pointer;
	padding: 0.2em 0.6em 0.3em;
	line-height: 1.4em;
	width: auto;
	overflow: visible;
}
.ui-dialog .ui-resizable-se
{
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px;
}
.ui-draggable .ui-dialog-titlebar
{
	cursor: move;
}
/*Slider*/
.ui-slider
{
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle
{
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range
{
	position: absolute;
	z-index: 1;
	font-size: 0.7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
.ui-slider-horizontal
{
	height: 0.8em;
}
.ui-slider-horizontal .ui-slider-handle
{
	top: -0.3em;
	margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range
{
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min
{
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max
{
	right: 0;
}
.ui-slider-vertical
{
	width: 0.8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle
{
	left: -0.3em;
	margin-left: 0;
	margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range
{
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min
{
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max
{
	top: 0;
}
/*Tabs*/
.ui-tabs
{
	position: relative;
	padding: 0.2em;
	zoom: 1;
}
/*position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed")*/
.ui-tabs .ui-tabs-nav
{
	margin: 0;
	padding: 0.2em 0.2em 0;
}
.ui-tabs .ui-tabs-nav LI
{
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 0.2em 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav LI A
{
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav LI.ui-tabs-selected
{
	margin-bottom: 0;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav LI.ui-tabs-selected A, .ui-tabs .ui-tabs-nav LI.ui-state-disabled A, .ui-tabs .ui-tabs-nav LI.ui-state-processing A
{
	cursor: text;
}
.ui-tabs .ui-tabs-nav LI A, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav LI.ui-tabs-selected A
{
	cursor: pointer;
}
/*first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere...*/
.ui-tabs .ui-tabs-panel
{
	display: block;
	border: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-tabs .ui-tabs-hide
{
	display: none !important;
}
/*Datepicker*/
.ui-datepicker
{
	width: 17em;
	padding: 0.2em 0.2em 0;
}
.ui-datepicker .ui-datepicker-header
{
	position: relative;
	padding: 0.2em 0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
{
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
{
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev
{
	left: 2px;
}
.ui-datepicker .ui-datepicker-next
{
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover
{
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover
{
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev SPAN, .ui-datepicker .ui-datepicker-next SPAN
{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title
{
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title SELECT
{
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker SELECT.ui-datepicker-month-year
{
	width: 100%;
}
.ui-datepicker SELECT.ui-datepicker-month, .ui-datepicker SELECT.ui-datepicker-year
{
	width: 49%;
}
.ui-datepicker TABLE
{
	width: 100%;
	font-size: 0.9em;
	border-collapse: collapse;
	margin: 0 0 0.4em;
}
.ui-datepicker TH
{
	padding: 0.7em 0.3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker TD
{
	border: 0;
	padding: 1px;
}
.ui-datepicker TD SPAN, .ui-datepicker TD A
{
	display: block;
	padding: 0.2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane
{
	background-image: none;
	margin: 0.7em 0 0;
	padding: 0 0.2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane BUTTON
{
	float: right;
	margin: 0.5em 0.2em 0.4em;
	cursor: pointer;
	padding: 0.2em 0.6em 0.3em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane BUTTON.ui-datepicker-current
{
	float: left;
}
/*with multiple calendars*/
.ui-datepicker.ui-datepicker-multi
{
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group
{
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group TABLE
{
	width: 95%;
	margin: 0 auto 0.4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group
{
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group
{
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group
{
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header
{
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
{
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane
{
	clear: left;
}
.ui-datepicker-row-break
{
	clear: both;
	width: 100%;
}
/*RTL support*/
.ui-datepicker-rtl
{
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev
{
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next
{
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover
{
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover
{
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane
{
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane BUTTON
{
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane BUTTON.ui-datepicker-current
{
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group
{
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header
{
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
{
	border-right-width: 0;
	border-left-width: 1px;
}
/*IE6 IFRAME FIX (taken from datepicker 1.5.3*/
.ui-datepicker-cover
{
	display: none;
/*sorry for IE5*/
	display: block;
/*sorry for IE5*/
	position: absolute;
/*must have*/
	z-index: -1;
/*must have*/
	filter: mask();
/*must have*/
	top: -4px;
/*must have*/
	left: -4px;
/*must have*/
	width: 200px;
/*must have*/
	height: 200px;
/*must have*/
}
/*Progressbar
----------------------------------*/
.ui-progressbar
{
	height: 2em;
	text-align: left;
}
.ui-progressbar .ui-progressbar-value
{
	margin: -1px;
	height: 100%;
}
/*Estilo para la tabla que tiene los logos*/
DIV.cell
{
	display: table-cell;
	height: 80px;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
DIV#layout
{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
DIV.hgroup
{
	display: table-row;
}
/*Estilo para el field de buscar*/
.mainFormInput
{
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	padding: 8px 10px 7px;
	line-height: 1.3em;
	width: 154px;
	background: url(../../Content/header-search-field.gif) no-repeat 0 0;
	vertical-align: middle;
	margin-right: -5px;
}
.mainFormSubmit
{
	border: none;
	outline: none;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	border-collapse: collapse;
	white-space: nowrap;
	background: url(../../Content/header-search-field.gif) no-repeat -225px 0;
	width: 25px;
	height: 28px;
	text-indent: 500px;
	vertical-align: middle;
}
.mainFormSubmit:hover, .mainFormSubmit:focus
{
	background-position: 100% 0;
}
#dvGearOptionInner, .wrapperJP #footer, .wrapperJP #footer UL LI, .wrapperJP #footer A, .wrapperJP #footer P, .wrapperJP .mainFormInput
{
	font-family: "MS PGothic", Osaka, Arial, Helvetica, sans-serif;
}
/*
SCROLLER DE SPONSORS.
*/
.scrollable
{
	position: relative;
	overflow: hidden;
	width: 900px;
	height: 160px;
	margin-left:auto;
	margin-right:auto;
}
/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accomodate scrollable items.
it's enough that you set the width and height for the root element and
not for this element.
*/
.scrollable .items
{
/*this cannot be too large*/
	width: 20000em;
	position: absolute;
	clear: both;
}
.items DIV
{
	float: left;
	width: 970px;
}
/*single scrollable item*/
.scrollable IMG
{
	float: left;
	margin: 0px 4px;
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/*
MARCO PRINCICPAL
*/
.marco
{
	z-index: -1;
}
.marcoIzquierdo
{
	float: left;
}
.marcoDerecho
{
	float: right;
}
.page3
{
	width: 970px;
	margin-top: -22px;
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	left:50%;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-485px;
}
